@font-face
  font-family: 'Federo'
  src: url('../fonts/federo-reg.ttf')
  src: url('../fonts/federo-reg.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Myseo'
  src: url('../fonts/MuseoSansCyrl.otf')
  src: url('../fonts/MuseoSansCyrl.otf') format("opentype")
  font-weight: 100
  font-style: normal

@font-face
  font-family: 'Myseo'
  src: url('../fonts/MuseoSansCyrl_0.otf')
  src: url('../fonts/MuseoSansCyrl_0.otf') format("opentype")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Myseo'
  src: url('../fonts/MuseoSansCyrl_1.otf')
  src: url('../fonts/MuseoSansCyrl_1.otf') format("opentype")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Myseo'
  src: url('../fonts/MuseoSansCyrl_2.otf')
  src: url('../fonts/MuseoSansCyrl_2.otf') format("opentype")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Myseo'
  src: url('../fonts/MuseoSansCyrl_3.otf')
  src: url('../fonts/MuseoSansCyrl_3.otf') format("opentype")
  font-weight: 900
  font-style: normal

