$main-color: #fff
$sec-color: #101010
$bg-color: #508B8C

$RW-font: "Raleway", sans-serif
$SSPro-font: "SourceSansPro", sans-serif

$tablet: all and (max-width: 768px)
$mobile: all and (max-width: 375px)

$pink: #F5BFD2
$blue: #A3CDCE
$yellow: #E5DB9C
$siren: #BEB4C5
$orange: #E6A57E