$main-color: #fff
$sec-color: #101010
$bg-color: #508B8C
$bg-light: #f1f1f1

$RW-font: "Raleway", sans-serif
$SSPro-font: "SourceSansPro", sans-serif

$mini-desc: 1240px
$tablet: all and (max-width: 768px)
$mobile: all and (max-width: 375px)

$pink: #F5BFD2
$blue: #A3CDCE
$yellow: #E5DB9C
$siren: #BEB4C5
$orange: #E6A57E